body { font-family: Helvetica, Arial, sans-serif; }
blockquote { font-family: Times, "Times New Roman", serif; }


.main-container{
    width: 100%;
}

.material-icons{
    padding-top: 0px;
    margin-right: 10px;
}
/*top bar*/
.flex-container{
    width: 100%;
    display: flex;
    background-color: white;
    height: 55px;
    font-size: 20px
}

.first{
    min-width: 7%;
    color: black;
    font-size: 1.2em;
    text-align: center;
    padding-top: 10.7px;
    font-weight: bold;
}

.second{
    padding-left: 5px;
    min-width: 7%;
    color: grey;
    font-size: 1.1em;
    text-align: center;
    padding-top: 12px;
    margin-left: 10px;
}

/*welcome bar*/
.welcome-flex-container{
    width: 100%;
    display: flex;
    background-image: linear-gradient(orange, black);
    height: 300px;
    font-size: 20px;
    flex-direction: column;
}

.welcome-heading{
    color: white;
    font-size: 2.5em;
    text-align: left;
    margin-top: 90px;
    margin-left: 90px;
    font-weight: bold;
}

.welcome-subheading{
    color: white;
    font-size: 1.2em;
    text-align: left;
    padding-top: 15px;
    margin-left: 90px;
    font-weight: lighter;

}

/*feed*/
.em-svg{
    max-width: 80%;
    height: auto;
}

.feed-container{
    width: 100%;
    display: flex;
    background-color: white;
    font-size: 20px;
    flex-direction: column;
}

.feed-new{
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px
}

.feed-new-list{
    font-size: 1.2em;
    text-align: left;
    padding-left: 30px;
    font-weight: lighter;
}

.feed-alltime{
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px
}

.feed-alltime-list{
    font-size: 1.2em;
    text-align: left;
    padding-left: 30px;
    font-weight: lighter;
}

.feed-popular{
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px
}

.feed-popular-list{
    font-size: 1.2em;
    text-align: left;
    padding-left: 30px;
    font-weight: lighter;
}

/*profile*/
.profileicon{
    padding-left: 57%;
}